<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理员系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" src="/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/jquery-validation/localization/messages_zh.min.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="/layer/layer.js"></script>
    <!-- md5.js -->
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- active-class.js -->
    <script type="text/javascript" src="/js/active-class.js"></script>

    <style>
        td {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .check {
            max-width: 80px;
        }


    </style>
</head>
<body>

<div class="container-fluid">
    <div class="header"></div>

    <div class="panel panel-default" >
        <div class="panel-heading text-center">考试安排</div>
        <table class="table" border="1" style="position: relative">
            <tr>
                <td class="check"><input type="checkbox" id="selectAll"/></td>
                <td>考试编码</td>
                <td>试题编号</td>
                <td>开始时间</td>
                <td>结束时间</td>
                <td>考试科目</td>
                <td>操作</td>

            </tr>
            <tr th:each="exam : ${examList}">
                <td class="check"><input type="checkbox" name="ids" th:id="${exam.examId}" th:value="${exam.examId}"/></td>
                <td th:text="${exam.examId}"></td>
                <td th:text="${exam.textId}"></td>
                <td th:text="${#dates.format(exam.examStartTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#dates.format(exam.examEndTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${exam.subjectType}"></td>
                <td>
                    <a th:href="'/admin-read-exam.htm?examId='+${exam.examId}">查看</a>&nbsp;&nbsp;
                    <a th:href="'/admin-update-exam.htm?examId='+${exam.examId}">修改</a>&nbsp;&nbsp;
                    <a th:href="'/admin/delete_exam/'+${exam.examId}">删除</a>
                </td>
            </tr>
        </table>

        <div class="row" style="margin: 10px 0 20px 0">
            <div class="col-md-1">
                <button class="btn btn-primary btn-block" onclick="reserveAll()">反选</button>
            </div>

            <div class="col-md-7"></div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" type="reset" onclick="addExam()">添加考试</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" type="button" onclick="deleteAll()">批量删除</button>
            </div>
        </div>
    </div>

</div>
</body>
<script th:inline="javascript">
    admin('exam');

    // 复选框的全选和全不选
    $(function () {
        $("#selectAll").click(function () {
            $(":checkbox[name='ids']").prop("checked", this.checked); // this指代的你当前选择的这个元素的JS对象
        });
    });

    function reserveAll() {
        $("#selectAll").prop("checked", false);
        $(":checkbox[name='ids']").each(function () {
            this.checked = !this.checked;
        });
    }

    function addExam() {
        window.location.href = "/admin-add-exam.htm";
    }

    function deleteAll() {
        var idList = [];
        $(":checkbox[name='ids']").each(function () {
            if ($(this).is(':checked')) {
                idList.push(parseInt($(this).val()));
            }
        });

        $.ajax({
            url: "/admin/delete_exam_list",
            type: "POST",
            dataType: "json",
            contentType: "application/json", // 指定这个协议很重要
            data: JSON.stringify(idList),
            success: function (data) {
                layer.closeAll();
                if (data.code == 0) {
                    layer.msg("成功");
                    window.location.href = "/admin/exam";
                } else {
                    layer.msg(data.msg);
                }
            }
            ,
            error: function () {
                layer.closeAll();
            }
        })
        ;
    }

</script>
</html>