<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>教师系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" src="/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/jquery-validation/localization/messages_zh.min.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="/layer/layer.js"></script>
    <!-- md5.js -->
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- active-class.js -->
    <script type="text/javascript" src="/js/active-class.js"></script>

</head>
<body>

<div class="container-fluid">
    <div class="header"></div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">考生答题卷</div>
        <table class="table" border="1" with="500px">
            <tr>
                <td>编号</td>
                <td>试卷id</td>
                <!--<td>科目</td>-->
                <td>考试时间</td>
                <td>答题卷</td>
                <td>是否评过分？</td>
            </tr>
            <tr th:each="studentAnswerInformation : ${studentAnswerInformationList}">
                <td th:text="${studentAnswerInformation.id}"></td>
                <td th:text="${studentAnswerInformation.textId}"></td>
                <!--<td th:text="${studentAnswerInformation.subjectType}"></td>-->
                <td th:text="${#dates.format(studentAnswerInformation.examStartTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td><a th:href="'/teacher/mark_text?studentId='+${studentAnswerInformation.studentId}+'&amp;textId='+${studentAnswerInformation.textId}">阅卷</a></td>
                <td th:text="${studentAnswerInformation.isMark}==true?'是':'否'"></td>
            </tr>
        </table>
    </div>

</div>
</body>
<script>
    teacher('mark');
</script>
</html>